body {
  font-family: 'Poiret One', cursive;
  text-align: center;
  padding: 0px 100px;
  background-color: white;
}

#logo{
  width: 300px;
  height: 70px;
  padding: 60px;
  border: none;
}

.menu{
  display: inline;
  font-size: 20px;
  color: black;
  letter-spacing: 3px;
  padding:50px;
  position: sticky;
}
ul li a
{
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}
ul:hover li a
{
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

ul li a:hover
{
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

a{
  color: black;
  text-decoration: none;
  padding: 10px;
}

h1{
  text-align: left;
  padding: 50px 0px 0px 0px;
  background-color: #FCBCBC;
}

p{
  font-size: 30px;
  background-color: #CFEEF7;
}

.container{
  position: relative;
  width: 100%;
}

.container .section
{
  position: sticky;
  top:0;
  width: 100%;
  height: 100vh;
  background color: white;
}

.container .section:nth-child(1)
{
  padding: 100px 0px 0px 0px;
  background-color: white;
  background-size: cover;
}
.container .section:nth-child(2)
{
  padding: 100px 0px 0px 0px;
  background-size: cover;
  background-color: white;
}
.container .section:nth-child(3)
{
  background: url(volunteer1.jpg);
  background-size: cover;
}
.container .section:nth-child(4)
{
  background: url(volunteer2.jpg);
  background-size: cover;
}
.container .section:nth-child(5)
{
  background: url(volunteer3.jpg);
  background-size: cover;
}
.container .section:nth-child(6)
{
  background: url(worksheet.jpg);
  background-size: cover;
}
